/* @import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

body {
  font-family: 'Montserrat', sans-serif;
}

.font-subtitulo {
  font-family: 'Old Standard TT', serif;
}

.font-parrafo {
  font-family: 'Hind Madurai', sans-serif;
}

/* === UTILIDADES DE COLOR === */
@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }
}

:root {
  --color-amarillo: #D4AF37;
  --color-marron: #5E4536;
  ---color-gris: #6D6559;
}

/* En tu archivo global (e.g., index.css o tailwind.css) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE y Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* global.css */
.scroll-thin::-webkit-scrollbar {
  width: 6px; /* grosor */
}

.scroll-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gris-400 */
  border-radius: 4px;
}

.scroll-thin::-webkit-scrollbar-track {
  background-color: #e5e7eb; /* gris-200 */
}

.scroll-thin {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #9ca3af #e5e7eb;
}
