/* === UTILIDADES DE COLOR === */
@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }

}