@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  font-family: 'Ubuntu', serif, sans-serif;
}

/* === UTILIDADES DE COLOR === */
@layer utilities {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  @media (min-width: 1536px) {
    .container {
      max-width: 1400px;
    }
  }
}

:root{
  --color-amarillo: #D4AF37;
  --color-marron: #5E4536;
  ---color-gris: #6D6559;
}